body {
  background: rgb(255, 255, 255);
  font-family: sans-serif;
  
}

.card {
  width: 400px;
  background: rgb(255, 255, 255);
  padding: 8px;
}

.title {
  background: #94d0f8;
  font-size: 16px;
  padding: 8px;
  
}

.content {
  background: #94d0f8;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  background: #94d0f8;
  padding: 8px;
  text-align: center;

}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin:  0 auto;
  padding: 8px 24px;
 }